@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

* {
    font-family: 'Lato', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

.header {
    padding: 16px 16px 0 16px;
}

.popup-shadow {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
}

.popup-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 600px;
    border: 1px solid rgb(204, 204, 204);
    background: rgb(255, 255, 255);
    box-shadow: rgb(0 0 0 / 10%) 0px 4px 8px 0px;
    border-radius: 4px;
}

.tabs-navi {
    padding-left: 16px;
}

.tabs-navi ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
}

.tabs-navi button {
    outline: none;
    border: 0;
    border-bottom: 3px solid transparent;
    background: transparent;
    cursor: pointer;
    padding: 10px;
}

.tabs-navi button:hover,
.tabs-navi button.active {
    border-bottom-color: rgb(0, 0, 0);
}

.cols-2 {
    display: grid;
    grid-template-columns: 55% 45%;
    border-top: 1px solid rgb(204, 204, 204);
    border-bottom: 1px solid rgb(204, 204, 204);
}

.scrolled-col {
    display: none;
    max-height: 30vh;
    overflow-y: auto;
    padding: 0 16px;
}

.scrolled-col:first-of-type {
    display: block;
}

.scrolled-col ul {
    list-style-type: none;
    margin: 0 0 0 10px;
    padding: 0;
}

.scrolled-col ul > li > ul ul {
    display: none;
    margin-bottom: 20px;
}

.subtitle {
    font-size: 18px;
    font-weight: 700;
}

.grouped {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.footer {
    display: flex;
    justify-content: flex-end;
    padding: 16px;
}

@media (max-width: 768px) {
    .popup-wrapper {
        max-width: none;
        height: 100vh;
    }
}